.deps
.libs/*
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
yaus.la
yaus.lo
autom4te.cache/*
build/*
config.guess
config.h
config.h.in
config.log
config.nice
config.nice.bat
config.status
config.sub
configure
configure.in
configure.bat
configure.js
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/*
run-tests.php
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
php_test_results_*
tmp-php.ini
Release
Release_TS
Debug
Debug_TS
libsphinx
